<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <form action="">
        <label for="nev">Név</label> <br>
        <input type="text" name="nev"> <br> <br>
        <label for="cim">Számlázási cím</label> <br>
        <input type="text" name="cim"> <br> <br>
        <label for="kupon">Kuponkód</label> <br>
        <input type="text" name="kupon"> <br> <br>
        <label for="kartyaszam">Kártyaszám</label> <br>
        <input type="text" name="kartyaszam"> <br> <br>
        <label for="lejarDatum">Lejárati dátum</label> <br>
        <input type="date" name="lejarDatum"> <br> <br>
        <label for="ccv">CCV/CVC</label> <br>
        <input type="number" name="ccv">

    </form>
</body>
</html>
